@import "tailwindcss";

:root {
  --background: #1c2127;
  --foreground: #1c2127;
  --primary: #3d9cfb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-onest-sans);
  --color-primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Onest", sans-serif;
}
@media (min-width: 768px) {
  .gradient-border-corners {
    position: relative;
    z-index: 0;
  }

  .gradient-border-corners::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 1.5rem; /* igual ao rounded-3xl */
    padding: 2px; /* espessura da borda */
    background: linear-gradient(135deg, #4f5255 0%, #24282c 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: 1;
  }
}
